includes:
    - phpstan-baseline.neon

parameters:
    level: 8

    treatPhpDocTypesAsCertain: false

    paths:
        - src
        - tests

    bootstrapFiles:
        - vendor-bin/tools/vendor/autoload.php
